---
title: Resume
---

:markdown
  # Donald Plummer's Resume

  Last updated #{Date.today.strftime("%B %d, %Y")}

  ## Summary

  With experience as a systems administrator and software developer, my
  greatest strength is my understanding of the whole system. Whether its TCP
  dumps, N+1 queries or email syntax issues, I've had a lot of experience
  troubleshooting.

  I'm passionate about writing maintanable code as a conversation between
  myself and future developers. I love solving problems for customers and
  providing more value and efficiency.

  I'm confidient in what I know, and in myself. This means I have no problems
  saying "I don't know" or asking clarifying questions. My communcation style
  is a bit blunt and to the point, but I welcome critisism and retrospectives.
  I'm always seeking to grow myself as a developer and a team member.

  Some numbers:

  * 3 years as lead developer at CrystalCommerce, a Ruby on Rails hosted e-commerce platform for game and hobby stores.
  * 4 years developing NetRiver’s Data Center Manager, a Ruby on Rails customer portal.
  * 13 years of designing and developing many small websites and web applications.
  * 10 years experience in Linux systems administration, including installation, configuration, maintenance of hardware and software.

  ## Experience

  ### Lead Software Developer; CrystalCommerce, Mountlake Terrace, WA (2010-Current)

  * Lead developer of a hosted multi-tenant e-commerce and catalog application.
  * Oversaw a 10x growth in traffic and sales.
  * Fully responsible for all technical aspects of system, from server configuration up to CSS.
  * Trained new and junior developers.
  * Large amounts of pair programming and collaborative development.
  * Slowly replaced 6-year-old legacy code base while maintaining active user base.
  * Practiced TDD and BDD with cucumber and rspec
  * Setup and built workflows for continuous integration and deployment

  #### Projects included:
  * Upgrading and migrating from single server, monolithic Rails 2.x application to a service-oriented, dozens of servers, Rails 3.2 application.
  * Successful third-party integration with Amazon MWS.
  * Backbone-based Point of Sale system with tight integration to realtime inventory system.

  ### Systems Administrator; NetRiver Int, Lynnwood, WA (2004-2010)

  * Developed a custom Data Center Management portal using Ruby on Rails.  The
    application manages client billing, shared website hosting, network, power
    and physical cabinet documentation and provides monitoring and reports.
  * Configure, install and manage Linux and Windows servers (dedicated and
    virtual, 32bit and 64bit).
  * Configure, install and maintain Windows and Linux shared website hosting
    servers.
  * Installed and configured an HP EVA 4000 SAN on an iSCSI network.
  * Plan and schedule backup routines for files and databases.
  * Actively and passively monitor critical systems including power,
    environment control and networks.
  * Responsible for quickly and reliably diagnosing and solving issues when
    they occur.
  * Train and delegate tasks to technical support team and other system
    administrators.
  * Write and maintain documentation on data center practices and procedures.

  ## Skills

  * Expert web application development in Ruby.
  * Frontend development experience with HTML, Javascript, and CSS
  * Linux software configuration and management experience
  * Linux scripting experience in Ruby and Bash
  * Switch and router configuration for HP and Cisco equipment
  * Training coworkers and end-users
  * Adept at identifying problems and implementing pragmatic solutions.

  ## Education

  * Washington State University - Computer Science, 2001-2004
  * Eagle Scout - Troop 325, Spokane, WA

  References and code samples available upon request.
